<%- include('./templates/htmlStart', {title:cliente.name}) %>

    <div class="container">
        <div class="row">
            <div class="col mt-3 mx-3">
                <h2 class="d-flex justify-content-between text-capitalize">
                    <span>
                        <i class="fa-solid fa-user"></i>
                        <%= cliente.name %>
                    </span>
                    <p class="text-end text-danger">
                        Saldo: $<%= Intl.NumberFormat().format(cliente.debt) %>
                    </p>
                </h2>
            </div>
        </div>

        <div class="row justify-content-evenly">
            <div class="col-auto mb-1">
                <form action="/clientes/eliminar/<%= cliente._id %>" method="post">
                    <button type="submit" class="btn btn-outline-danger btn-rounded" id="btnDelete">
                        <i class="fa-solid fa-trash-can"></i> Eliminar
                    </button>
                </form>
            </div>
            <div class="col-auto mb-1">
                <button class="btn btn-success btn-rounded" data-mdb-toggle="modal" data-mdb-target="#addRecord"
                    data-mdb-id="<%= cliente.id %> ">
                    <i class="fa-solid fa-file-circle-plus"></i> Registrar
                </button>
            </div>
        </div>

        <div class="row justify-content-center">
            <% cliente.records.sort((a, b)=> new Date(b.date) - new Date(a.date)) %>
                <% cliente.records.forEach( record=> { %>
                    <div class="col-11 my-2">
                        <div
                            class="card border bg-opacity-50 shadow-4-strong <%= (record.type=='payment')? 'bg-success': 'bg-danger' %>">
                            <div class="card-body text-dark">
                                <h6 class="d-flex justify-content-between card-title">
                                    <span>
                                        <i class="fa-solid fa-money-bill"></i>
                                        <%= (record.type=='payment' )? 'Abono' :'Cargo' %> por <%=
                                                Intl.NumberFormat().format(record.value) %>
                                    </span>
                                    <p class="card-subtitle mb-2 text-muted">
                                        <%= record.date.split('-').reverse().join('-') %>
                                    </p>
                                </h6>
                                <p class="card-text">
                                    <%= record.description %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
        </div>
    </div>
    <script>
        const deleteForm = document.forms[0];
        deleteForm.addEventListener('submit', e => {
            confirm('Estás a punto de eliminar todo sobre <%= cliente.name %>, esta acción no tiene vuelta atrás. ¿deseas continuar?')
                ? true : e.preventDefault()
        })
    </script>
    <%- include('./templates/modal-add-record') %>
        <%- include('./templates/htmlEnd') %>